{
  "plugins": ["prettier-plugin-solidity"],
  "singleQuote": false,
  "tabWidth": 4,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ]
}
